
/* could clean up columns in desktop version by new img 100% width understanding */

@media only screen and (min-width:960px) {
	html {
		font-size:5px !important;
	}
}
@media only screen and (min-width:1200px) {
	html {
		font-size:6px !important;
	}
}

@media only screen and (min-width:1440px) {
	html {
		font-size:7px !important;
	}
}
@media only screen and (min-width:1680px) {
	html {
		font-size:8px !important;
	}
}

@media only screen and (min-width: 678px) {
	
html {font-size:4px;}
	
body {
	margin: 0;
	overflow-x:hidden;
	background: #333;
	color: #111;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

#wrapper {
	overflow-x:hidden;
}
#wrapper2 {
	width:168rem;
	margin:0 auto;
}

h1 {
	font-size:9rem;
	margin: 1.5rem 1rem 1.5rem 0;
}

h2 {
	font-size: 9rem;
	line-height:1.1;
	text-align:right;
	margin:0;
}

p {
	font-family: "Georgia";
	font-size: 4.5rem;
	line-height:1.25;
}

a img {border:0;}

.holder {
	width:168rem;
	padding:8rem 0 8rem 0;
	margin: 0 0 0 36rem;
}

.collection .collection_item {
	float:left;
	margin: 1.5rem 1rem;
}

.collection::after {
	content:'';
	display:block;
	clear:both;
}

.tools {
	width:54rem;
}
.tools::after {
	content:'';
	display:block;
	clear:both;
}

.tools p {
	height:8rem;
	float:left;
	margin:0 1rem 2rem 1rem;
	width:54rem;
}

.tools p img {
	float:left;
	width:8rem;
}

.tools p span {
	float:left;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 3rem;
	letter-spacing:0.2em;
	text-transform: uppercase;
	margin:2.5rem 0 0 2rem;
}

header, #LE_newsletters, #APG_business_card, #BR_advertising, #SS_websites {
	width: 240rem;
	margin-left: -36rem
}

/* ----- Header Specific Styling ----- */

header {
	text-align:right;
	background:linear-gradient(#cceddf 0%, #cce2ff 100%);
	color:#009c73;
	position: relative;
}

header p {
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 3rem;
	letter-spacing:0.2em;
	text-transform: uppercase;
	margin: 1.5rem 1rem 1.4rem 0;
}

header a {
	color:#0085b6;
}

/* ----- LE Specific Styling ----- */

#LE_newsletters {
	color: #ffe8b8;
	position:relative;
	z-index: 1;
}
#LE_newsletters::before {
	content:'';
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	z-index:-1;
	background-image:url("i/le_cloudy.jpg");
	background-size:100% 100%;
	opacity: 0.12;
}
#LE_newsletters::after {
	content:'';
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	z-index:-2;
	background-image:url("i/le_lvtile.png");
	background-position: top center;
	background-size:32rem 32rem;
}
#LE_newsletters h2 {
	text-align: right;
	margin: -14.5rem 0 2rem 57rem;
	width: 110rem;
}

#LE_newsletters .description {
	width:82rem;
	margin: 0 0 0 85rem;
	line-height: 1.25;
}

#LE_newsletters .collection img {
	box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
	width:40rem;
}

#LE_newsletters .tools {
	margin-top:-19rem;
}

/* ----- APG Specific Styling ----- */

#APG_business_card {
	color: #3c5e2c;
	z-index:1;
	position:relative;
}
#APG_business_card::before {
	content:'';
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	z-index:-1;
	background-image:url("i/apa_sidefade.jpg");
	background-size:100% 100%;
	opacity: 0.15;
}
#APG_business_card::after {
	content:'';
	text-align:center;
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	z-index:-2;
	background-image:url("i/apa_apgbrand.png"),
	                 url("i/apa_woodtexture.jpg");
	background-position: center center,
	                     center center;
	background-repeat:no-repeat, no-repeat;
	background-size:200rem 200rem,
	                100% 100%;
}
#APG_business_card .collection img {
	box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
	width:82rem;
}
#APG_business_card .collection p {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: right;
	color: #3c5e2c;
	margin:1.5rem 0;
}
#APG_business_card h2 {
	text-align:right;
	margin:1.5rem 1rem 0 0;
}
#APG_business_card .tools {
	margin-top: -19rem;
}

/* ----- BR Specific Styling ----- */

#BR_advertising {
	background: #537ce5;
	color: rgb(140,25,30);
	z-index: 1;
	position: relative;
}
#BR_advertising::before {
	content:'';
	display: block;
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	z-index:-1;
	background-image:url("i/br_waves.jpg");
	background-size:cover;
}
#BR_advertising .collection img {
	box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
	width:40rem;
}
#BR_advertising .collection p {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: right;
	color: #910b0b;
	margin:1.5rem 0;
}
#BR_advertising .collection a {
	text-decoration: none;
}
#BR_advertising h2 {
	text-align: right;
	margin: -21rem 0 2rem 83rem;
	font-size:8.5rem;
	width: 84rem;
}
#BR_advertising .description {
	width: 84rem;
	margin: 0 0 0 85rem;
	line-height: 1.25;
}
#BR_advertising .tools {
	margin: -19rem 0 3rem 0;
}

/* ----- SS Specific Styling ----- */

#SS_websites {
	background: #005872;
	color: #d1f1fb;
	z-index: 1;
	position: relative;
}
#SS_websites::before {
	content:'';
	display:block;
	position:absolute;
	top:0; right:0; bottom:0; left:0;
	z-index: -1;
	background-image:url("i/ss_blueprint.jpg");
	background-size: 8rem;
	background-position: center center;
	opacity: 0.65;
	border:1rem solid #b1d1fb;
	margin:4rem;
}
#SS_websites .collection_item {
	width:40rem;
}
#SS_websites .collection_item img {
	width:40rem;
}
#SS_websites .middle {
	width:82rem;
}
#SS_websites .collection_item .caption {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: right;
	color: #eae8f9;
	margin:1.5rem 0;
}
#SS_websites .description {
	line-height: 1.25;
	font-family: "Times New Roman";
	font-size: 4.5rem;
	line-height:1.25;
	margin:1.5rem 0 2rem 0;
}
#SS_websites .tools p {
	height:8rem;
	float:left;
	margin:0 1rem 2rem 0;
	width:54rem;
}
#SS_websites .tools p img {
	width:8rem;
}
}